<div class="page-header">
  <h1>ProxyPac</h1>
  <ol class="breadcrumb">
    <li>Groups</li>
  </ol>
</div>

<div class="jumbotron">
  <div class="row">
    <div class="col-xs-6 col-md-4">
      <ul class="row nav nav-pills nav-stacked" ui-sortable="sortableOptions" ng-model="groups">
        <li ng-repeat="group in groups | orderBy:'order' " >
          <span class="glyphicon glyphicon-sort"></span><!-- sorting icon -->
          <button class="btn btn-primary" ng-click="viewGroup()" type="button">
            {{group.name}}
          </button>
          <button ng-click="remove()" class="btn btn-warning" type="button"><span class="glyphicon glyphicon-remove"></span></button>
        </li>
      </ul><!-- end of menu -->
    </div>
    <div class="col-xs-6 col-md-8">
      
      <p>Groups are useful for organising sites/urls that can have different Proxy settings. to allow a bypass on any sites listed, it is advisable to keep the <i>"No Match"</i> group as it is.</p>
      <div class="row">
        <div class="col-lg-4 col-md-5">
          <div class="input-group">
            <input type="text" class="form-control" ng-model="newGroup.name" placeholder="eg. Social" ng-enter="addNewGroup()">
            <span class="input-group-btn">
              <button class="btn btn-default" type="button" ng-click="addNewGroup()"><span class="glyphicon glyphicon-plus"></span></button>
            </span>
          </div><!-- /input-group -->
        </div>
        
      </div>
    </div>
  </div>

  
</div>

