
  
  <p>Select the type of proxy server to be used, enter either a URL or IP address and port, the last option should be DIRECT</p>

  <div ng-model="newServer">

    <form class="form-inline">
      <div class="form-group ">
        <label class="sr-only" for="new-type">Proxy Type</label>
        <select ng-model="newServer.type" ng-selected="newServer.type" id="new-type" class="form-control">

          <option name="PROXY">PROXY</option>
          <option name="SOCKS">SOCKS</option>
          <option name="SOCKS5">SOCKS5</option>
          <option name="DIRECT">DIRECT</option>
        </select>
      </div>
      <div class="form-group">
        <label class="sr-only" for="new-type">Address</label>
        <input id="new-type" ng-model="newServer.address" ng-if="newServer.type != 'DIRECT'" class="form-control" placeholder="Address Eg. 1.1.1.1" />
      </div>
      <div class="form-group">
        <label class="sr-only" for="new-port">Port</label>
        <input ng-model="newServer.port" type="number" id="new-port" ng-if="newServer.type != 'DIRECT'"  class="form-control" placeholder="Port Eg. 8081" />
      </div>
      
      <div class="form-group">
        <button ng-click="new()" class="btn btn-default" type="button"><span class="glyphicon glyphicon-plus"></span></button>
      </div>
    </form>

  </div>
  <p>&nbsp;</p>

  <ul ui-sortable="sortableOptions" ng-model="servers" class="nav nav-pills nav-stacked">
    <li ng-repeat="server in servers | orderBy : 'order'" >

      <div ng-if="editing !== server.id"  ng-model="server">
        <span class="glyphicon glyphicon-sort"></span><!-- sorting icon -->
        <button class="btn btn-primary" ng-click="editable()" type="button">
          {{server.type}}<span ng-if="server.address && server.port !=''">://{{server.address}}:{{server.port}}</span>
        </button>
      </div>

      <div ng-model="server" ng-if="editing == server.id" class="input-group">

        <form class="form-inline">

          <div class="form-group ">
            <label class="sr-only" for="server-type">Proxy Type</label>
            <select ng-model="server.type" ng-selected="server.type" id="server-type" class="form-control">
              <option name="DELETE">DELETE</option>
              <option name="PROXY">PROXY</option>
              <option name="SOCKS">SOCKS</option>
              <option name="SOCKS5">SOCKS5</option>
              <option name="DIRECT">DIRECT</option>
            </select>
          </div>
          <div class="form-group">
            <label class="sr-only" for="server-type">Address</label>
            <input id="server-type" ng-model="server.address" ng-if="server.type != 'DIRECT'" class="form-control" placeholder="Address Eg. 1.1.1.1" />
          </div>
          <div class="form-group">
            <label class="sr-only" for="server-port">Port</label>
            <input ng-model="server.port" type="number" id="server-port" ng-if="server.type != 'DIRECT'"  class="form-control" placeholder="Port Eg. 8081" />
          </div>
          
          <div class="form-group">
            <button ng-click="save()" class="btn btn-default" type="button"><span class="glyphicon glyphicon-ok"></span></button>
          </div>
        </form>

      </div>
    </li>
  </ul>




