/* app css stylesheet */



.ui-sortable li {
  outline: 1px dashed #ccc;
  margin-bottom: 0.5em;
}

.glyphicon.glyphicon-sort {
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.badge.select {
  cursor: pointer;

}
.badge.select:hover {
  background: orange;
}