<div class="row">
  <div class="col-xs-6 col-md-4">
    <ul class="row nav nav-pills nav-stacked" >
      <li >
        <button class="btn btn-primary" type="button">
          {{group.name}}
        </button>
      </li>
    </ul><!-- end of menu -->
  </div>
  <div class="col-xs-6 col-md-8">
    <p>Groups are useful for organising sites/urls these are executed from top to bottom. </p>
    <div class="row">
      <div class="col-lg-4 col-md-5">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="eg. Social">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button" ><span class="glyphicon glyphicon-plus"></span></button>
          </span>
        </div><!-- /input-group -->
      </div>
    </div>
  </div>
</div>