<form class="form-horizontal addProxy">

  <div class="form-group form-group-lg addProxy-type">
    <label class="col-md-2 control-label" for="new-type">Proxy Type</label>
    <div class="col-md-10">
      <select id="new-type" class="form-control">
        <option ></option>
        <option name="PROXY">PROXY</option>
        <option name="SOCKS">SOCKS</option>
        <option name="SOCKS5">SOCKS5</option>
        <option name="DIRECT">DIRECT</option>
      </select>
    </div>
  </div>

  <div class="form-group form-group-lg addProxy-address">
    <label class="col-md-2 control-label" for="new-type">Address</label>
    <div class="col-md-10">
      <input id="new-type" class="form-control" placeholder="Address Eg. 1.1.1.1" />
    </div>
  </div>

  <div class="form-group form-group-lg addProxy-port">
    <label class="col-md-2 control-label" for="new-port">Port</label>
    <div class="col-md-10">
      <input type="text" id="new-port" class="form-control" placeholder="Port Eg. 8081" />
    </div>
  </div>

  <div class="form-group form-group-lg addProxy-test">
    <div class="col-md-offset-2 col-md-10">
      <div class="checkbox">
        <label>
          <input type="checkbox"> Test Proxy
        </label>
      </div>
    </div>
  </div>

  <div class="form-group ">
    <div class="col-xs-push-0 col-xs-6 col-sm-push-2 col-sm-4">
      <button class="btn btn-primary btn-lg addProxy-submit" type="button">Save <span class="hidden-xs">Proxy</span></button>
    </div>
    <div class="col-xs-push-0 col-xs-6  col-sm-push-2 col-sm-6 col-md-push-1 col-md-6 hidden-delete">
      <button class="btn  btn-danger btn-lg addProxy-delete" type="button">Del<span class="hidden-xs">ete Proxy</span></button>
    </div>
  </div>

</form>